In [0]:
import email
import smtplib
import time
import datetime
import pandas as pd

In [0]:
OLD_Acuracia = 0
Atual_Acuracia = 0

In [0]:
DASH = "www.teste.com.br"

In [0]:
# initialize list of lists 
data = [['Step 01 = ', ' - ', ' - ', ' - '], ['Step 02 = ', ' - ', ' - ', ' - '], ['Step 03 = ', ' - ', ' - ', ' - ']] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Steps', 'Data','Status','Comment']) 
  
# print dataframe. 
df

        Steps Data Status Comment
0  Step 01 =    -      -       -
1  Step 02 =    -      -       -
2  Step 03 =    -      -       -

In [0]:
def validador_log():
  #BODY DO EMAIL
  df.to_html('df.html')
  body = "{} \n\n Acuracia Anterior = {}% \n\n Acuracia atual = {}% \n\n Link para o Dashboard = {} \n\n Ass. Equipe Analytics Ambev".format(df, "{0:.2f}".format(OLD_Acuracia*100),"{0:.2f}".format(Atual_Acuracia*100),DASH)
  
  #SMTP
  server = smtplib.SMTP('smtp.gmail.com',587)
  server.ehlo()
  server.starttls()
  server.ehlo()
  
  #LOGIN
  user = 'youremail@domain.com'
  passwd = 'yourpassword'
  server.login(user, passwd)
  
  #MONTANDO EMAIL
  subject = '[AA] Checker Safety'
  sender = 'sendemail@domain.com'
  recipients = ['receiveremail@domain.com']
  
  msg = 'Subject: {}\n\n{}'.format(subject, body)
  
  server.sendmail(sender, recipients, msg)
  server.close()

In [0]:
#SMTP
  server = smtplib.SMTP('smtp.gmail.com',587)
  server.ehlo()
  server.starttls()
  server.ehlo()

(250,
 b'smtp.gmail.com at your service, [35.230.21.88]\nSIZE 35882577\n8BITMIME\nAUTH LOGIN PLAIN XOAUTH2 PLAIN-CLIENTTOKEN OAUTHBEARER XOAUTH\nENHANCEDSTATUSCODES\nPIPELINING\nCHUNKING\nSMTPUTF8')

In [0]:
  #LOGIN
  user = 'youremail@yourdomain.com'
  passwd = 'yourpassword'
  server.login(user, passwd)

(503, b'5.5.1 MAIL first. 8sm5626700pfj.93 - gsmtp')

In [0]:
#
try: 
  dataset = pd.read_csv('modelo_unidade_diario_comentado.csv', encoding='ISO-8859-1', sep=';')
  df.iloc[0, df.columns.get_loc('Data')] = datetime.datetime.now().strftime("%d/%m/%y - %H:%M:%S")
  df.iloc[0, df.columns.get_loc('Status')] = 'SUCESSO'
  df.iloc[0, df.columns.get_loc('Comment')] = 'Import dos Dados com SUCESSO'
  validador_log()
  
except:
  df.iloc[0, df.columns.get_loc('Data')] = datetime.datetime.now().strftime("%d/%m/%y - %H:%M")
  df.iloc[0, df.columns.get_loc('Status')] = 'FALHA'
  df.iloc[0, df.columns.get_loc('Comment')] = 'Import dos Dados com FALHA'
  validador_log()

In [0]:
df

        Steps              Data Status                     Comment
0  Step 01 =   22/05/19 - 14:43  FALHA  Import dos Dados com FALHA
1  Step 02 =                 -      -                           -
2  Step 03 =                 -      -                           -

In [0]:
OLD_Acuracia = accuracy_score(y_test, prediction)